;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [cider/cider-nrepl "0.28.1"]
                ;; React wrapper
                [lilactown/helix "0.1.5"]
                ;; Storybook like development
                [devcards "0.2.5"]]

 :builds
 {:app {;; the javascript bundle is targeted to browser env
        :target     :browser
        ;; the module `:main` is written here as `main.js`
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"
        ;; modules created from Clojurescript sources
        :modules    {:main {:entries [app.core
                                      app.react-router-app
                                      app.react-query-app]}}
        ;; set up development related configuration
        :devtools
        ;; before live-reloading any code call this function
        {;; remove before-load and remove-load for now since
         ;; we don't need them right now
         ;; :before-load app.core/stop
         ;; :after-load  app.core/init
         :http-port   3000
         :http-root   "public"
         ;; initialize devtools
         :preloads    [devtools.preload]}}

  :test {:target           :browser-test
         :test-dir         "out/test"
         :devtools {:http-root "out/test"
                    :http-port 3001}
         :compiler-options {:output-feature-set :es8}}

  :devcards {:target           :browser
             :output-dir       "public/js/compiled"
             :asset-path       "/js/compiled"
             :compiler-options {:devcards           true
                                :output-feature-set :es8}
             :devtools {:after-load app.devcards/init!}
             :modules {:dev {:entries [app.devcards]}}}}}
